{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <div class="large-8 columns">
      <h3>InnerCircle</h3>

      <!-- Grid Example -->
      <div class="row">
        <div class="large-12 columns">
          <div class="panel">
            <p>This is a new experiment, so <b><a href="https://ozten.com/" rel="me">I</a></b> can play in a few different
              spaces.</p>
            <h4>Features</h4>
            <p><ul>
              <li>Microformats
              <li>Webmentions
            </ul></p>
            <p>Follow along on Github, to see where things are headed.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="large-4 columns">
      <h4>Code</h4>
      <p>You can play too!</p>
      <p><a href="https://github.com/ozten/innercircle"
        class="button success round">Get the Source</a></p>
    </div>
  </div>
    <div class="row">
    <div class="large-12 columns">
      <p><b>Join</b> Austin King's InnerCirlce
        <div class="panel">Coming Soon</div></p>

    </div>
  </div>

{% endblock %}