<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{%block title %}Letter's for Austin's Inner Circle{%endblock%}</title>


  <link href="{{ audience }}/webmention" rel="http://webmention.org/" />
  <link rel="stylesheet" href="css/foundation.css" />
  <link rel="stylesheet" href="css/style.css" />


  <script src="js/vendor/custom.modernizr.js"></script>

</head>
<body>
<header class="row">
  <div class="large-6 columns"><a href="/" class="nav logo">Austin's InnerCircle</a></div>
  <div class="large-2 columns">
    {% if loggedInUser != 'null' %}
      <a href="/editor" class="button">New Post</a>
    {% endif %}
  </div>
  <div class="large-2 columns">
    {% if loggedInUser != 'null' %}
      <div  class="nav">{{loggedInUser}}</div>
    {% endif %}
  </div>
  <div class="large-2 columns">
  {% if loggedInUser == 'null' %}
    <button id="login">Sign in</button>
  {% else %}
     <button id="logout">Logout</button>
  {% endif %}
  </div><!-- .large-2 .columns -->
</header><!-- .row -->
{% block body %}{% endblock %}

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>

  <script src="js/vendor/foundation.min.js"></script>
  <script src="https://login.persona.org/include.js"></script>
<script>
var b = document;
if (b && b.querySelector("#login")) {
  b.querySelector("#login").addEventListener("click", function() {
    navigator.id.request();
  }, false);
}

b = document.querySelector("#logout");
if (b) {
  b.addEventListener("click", function() {
    alert('logging out');
    navigator.id.logout();
  }, false);
}

navigator.id.watch({
  loggedInUser: {{ loggedInUser }},
  onlogin: function(assertion) {
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/persona/verify", true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.addEventListener("loadend", function(e) {
      var data = JSON.parse(this.responseText);
      if (data && data.status === "okay") {
        //console.log("You have been logged in as: " + data.email);
        window.location.reload(true);
      }
    }, false);

    xhr.send(JSON.stringify({
      assertion: assertion
    }));
  },
  onlogout: function() {
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/persona/logout", true);
    xhr.addEventListener("loadend", function(e) {
      //console.log("You have been logged out");
      window.location.reload(true);
    });
    xhr.send();
  }
});
</script>
  <!--

  <script src="js/foundation/foundation.js"></script>

  <script src="js/foundation/foundation.alerts.js"></script>

  <script src="js/foundation/foundation.clearing.js"></script>

  <script src="js/foundation/foundation.cookie.js"></script>

  <script src="js/foundation/foundation.dropdown.js"></script>

  <script src="js/foundation/foundation.forms.js"></script>

  <script src="js/foundation/foundation.joyride.js"></script>

  <script src="js/foundation/foundation.magellan.js"></script>

  <script src="js/foundation/foundation.orbit.js"></script>

  <script src="js/foundation/foundation.reveal.js"></script>

  <script src="js/foundation/foundation.section.js"></script>

  <script src="js/foundation/foundation.tooltips.js"></script>

  <script src="js/foundation/foundation.topbar.js"></script>

  <script src="js/foundation/foundation.interchange.js"></script>

  <script src="js/foundation/foundation.placeholder.js"></script>

  -->

  <script>
    $(document).foundation();
  </script>
</body>
</html>