{% extends "layout.html" %}
{% block body %}
<article class="h-entry">
  <h1>{{ post.title }}</h1>
  <p>Hi {{ post.audience }}</p>
  <div class="e-content">{{ post.body }}</div>
  <p>Published by <a href="" class="p-author h-card">Austin King</a>
     on
     <time class="dt-published" datetime="{{post.published}}">{{post.humanePublished}}</time>.
     {% if post.published != post.updated %}
       Last updated at
       <time class="dt-updated" datetime="{{post.updated}}">{{post.humaneUpdated}}</time>.</p>
     {% endif %}
</article>

{% endblock %}